
.Quiz {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.myquiz{
  display: flex;
}
.start,.play,.score{
  width: 33%;
  position: relative;
}
.start{
  background-color: #e3e3e3;
  height: 1000px;
  left: 250px;
}
.StartContent{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 50% auto;
}
.play{
  background-color: #c3c3c3;
  top: 60px;
  right: 100px;
  z-index: 2;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.QandA{
  width: 100%;
  text-align: left;
}
.options{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border: 2px solid;
}
.option{
  flex: 25%;
  cursor: pointer;
  background-color: #dfdfdf;
  text-align: center;
  border: solid 2px;
}
.score{
  background-color: #a5a5a5;
  top: 120px;
  right:  400px;
  z-index: 4;
}
